@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

/* ===== BACKGROUND ===== */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: url("./img/s10.jpeg");
  background-size: cover;          /* QUAN TRỌNG */
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.55;
}

/* ===== NAV ===== */
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 60px;
  z-index: 10;
}

nav a img {
  width: 167px;
}

/* ===== FORM ===== */
.form-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 70px;
  border-radius: 50px;
  background: rgba(61, 60, 61, 0.695);
}

.form-wrapper h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 25px;
}

.form-wrapper form {
  margin-bottom: 65px;
}

/* ===== INPUT ===== */
.form-control {
  height: 50px;
  position: relative;
  margin-bottom: 16px;
}

.form-control input {
  width: 100%;
  height: 100%;
  background: #333;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  padding: 0 20px;
}

.form-control input:focus,
.form-control input:valid {
  background: #444;
  padding: 16px 20px 0;
}

.form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #8c8c8c;
  transition: 0.15s ease;
}

.form-control input:focus ~ label,
.form-control input:valid ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}

/* ===== BUTTON ===== */
form button {
  width: 100%;
  padding: 16px 0;
  margin: 25px 0 10px;
  font-size: 1rem;
  font-weight: 500;
  background: #390b7ec5;;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #5f52ac;
}

/* ===== TEXT & LINK ===== */
.form-wrapper a {
  text-decoration: none;
}

.form-wrapper a:hover {
  text-decoration: underline;
}

.form-wrapper :where(label, p, small, a) {
  color: #b3b3b3;
}

.form-help {
  display: flex;
  justify-content: space-between;
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 5px;
  accent-color: #b3b3b3;
}

.form-help label,
.form-help a {
  font-size: 0.9rem;
}

.form-wrapper p a {
  color: #fff;
}

.form-wrapper small {
  display: block;
  margin-top: 15px;
}

.form-wrapper small a {
  color: #0071eb;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 740px) {
  body::before {
    display: none;
  }

  nav {
    padding: 20px;
  }

  nav a img {
    width: 140px;
  }

  .form-wrapper {
    width: 100%;
    padding: 20px;
    top: 50%;
  }

  .form-wrapper form {
    margin-bottom: 40px;
  }
}
footer {
  color:  rgba(241, 226, 226, 0.863);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  background: transparent; /* hoặc màu bạn muốn */
}
